# Tuples and Lists are combined data types
## Tuples
* an order sequence of elements, can mix element types.
* immutable
* represented with parentheses

In [1]:
# Empty tuple
t = ()

ta = (3,4)
te = (1,'ku',6)

tt = ta+te
print(te)
print(te[0],te[1], te[2])
print(tt)

(1, 'ku', 6)
1 ku 6
(3, 4, 1, 'ku', 6)

In [2]:
#te[2] = 5  Error because tuples are immutable

In [3]:
# Slice tuple
print(te[1:2])
print(te[0:2])
print(te[2:3])
print(te[2:6])  ##

('ku',)
(1, 'ku')
(6,)
(6,)

### Swap the values of veriable

In [4]:
x = 3
y = 6
x=y
y=x
# Wrong way

In [5]:
x = 3
y = 6
temp = x
x = y
y = temp
# Right way

In [6]:
x = 3
y = 6
(x,y) = (y,x)
# Right way and it's useing tuple

In [7]:
# Return more than one value from a function
def quotient_remainder(x,y):
    a = x//y
    b = x%y
    return (a,b)
(qut,rem) = quotient_remainder(4,2)
(qut, rem)

(2, 0)

In [8]:
# Iterate over tuple
def get_tuple(atuple):
    nums = ()
    words = ()
    for t in atuple:
        nums = nums+(t[0],)     # using nums = nums+t[0] occurs an error (t[0],) here , is very important.
        if t[1] not in words:
            words = words+(t[1],)    
    min_num = min(nums)
    max_num = max(nums)
    unique_words = len(words)
    return(min_num, max_num, unique_words)

test = ((1,"a"),(2, "b"),
       (1,"a"),(7,"b"))
t = get_tuple(test)
t

(1, 7, 2)

In [9]:
(a,b,c) = get_tuple(test)
print(a,b,c)

1 7 2

In [10]:
# Apply any data
birthyear = ((1996,'rifat'),
            (2004,'Rupom',),
            (1998,'shihab'))
(older,younger,individuals) = get_tuple(birthyear)
print(older)

1996

# Lists
* ordered sequence of information, accessible by index
* a list is denoted by squarebrackets, [ ]
* mutable

In [11]:
# Empty list
E_L = []

In [12]:
#list
L = [1,2,'hello',[1,2,3]]

In [13]:
len(L)

4

In [14]:
L[0]

1

In [15]:
L[0:3]

[1, 2, 'hello']

In [16]:
L[2:]

['hello', [1, 2, 3]]

In [17]:
L[3][2]

3

In [18]:
L[1]=5 #Mutable

In [19]:
L

[1, 5, 'hello', [1, 2, 3]]

#### Iteration over list

In [20]:
l = [1,2,3,4]

In [21]:
def sum_element_list1(list):
    total = 0
    for i in range(len(list)):
        total += list[i]
    return total
sum_element_list1(l)

10

In [22]:
# Like string can iterate over the elements of list directly
L = [1,2,'hello',[1,2,3]]
for j in L:
    print(j)
def sum_element_list2(list):  
    s = 0
    for i in list:
        s =s+i
    return s

1
2
hello
[1, 2, 3]

In [23]:
sum_element_list2(l)

10

### Operation on list

In [24]:
# Add eliments
L = [1,2,3]
L.append('1')
L.append(4)

In [25]:
L

[1, 2, 3, '1', 4]

In [26]:
# Combine lists together
L1 = [1,2,3]
L2 = [3,4,5]

L3 = L1+L2
L3

[1, 2, 3, 3, 4, 5]

In [27]:
# Mutate list
L1.extend([23,43])
L1

[1, 2, 3, 23, 43]

In [28]:
# Remove from list
# Delete by index
L1 = [1,'sd',3,4]
del(L1[2])
L1

[1, 'sd', 4]

In [29]:
L1 = [1,'sd',3,4]
L1.pop() # remove element at the end of the list.
L1.pop(1) # Can remove element by index.
L1

[1, 3]

In [30]:
# string to list
s = "I<3 cs"
list(s)

['I', '<', '3', ' ', 'c', 's']

In [31]:
s.split('<')

['I', '3 cs']

In [32]:
# List to string
L = ['a','b','c']
''.join(L)

'abc'

In [33]:
'_'.join(L)

'a_b_c'

In [34]:
### Some more list operation
l1 = [1,5,34,56,56,7]
sorted(l1)

[1, 5, 7, 34, 56, 56]

In [35]:
l1 = [1,5,34,56,56,7]
l1.sort()
l1

[1, 5, 7, 34, 56, 56]

In [36]:
l1.reverse()
l1

[56, 56, 34, 7, 5, 1]

In [37]:
l1

[56, 56, 34, 7, 5, 1]

In [38]:
# List has side effect of changing values.
warm = ['red','yellow','orange']
hot = warm
hot.append('green')

print(warm)  # warm has changed. So That's a problem of cloning a list
print(hot)

['red', 'yellow', 'orange', 'green']
['red', 'yellow', 'orange', 'green']

### Cloning a list

In [39]:
cool = ['red','blue','green']
extra_cool = cool[:]
extra_cool.append('black')
print(cool)
print(extra_cool)

['red', 'blue', 'green']
['red', 'blue', 'green', 'black']

### Sortng list
* Calling sort() mutates the list, returns nothing
* calling sorted() does not mutate list, must assign result to a variable

In [40]:
warm = ['red','yellow','orange']
sortedworm = warm.sort()
print(warm)
print(sortedworm)

['orange', 'red', 'yellow']
None

In [41]:
warm = ['red','yellow','orange']
sortedworm = sorted(warm)

print(warm)
print(sortedworm)

['red', 'yellow', 'orange']
['orange', 'red', 'yellow']

### Iteration

In [42]:
def remove_dups(L1, L2):
    for e in L1:
        if e in L2:
            L1.remove(e)
L1 = [1, 2, 3, 4]
L2 = [1, 2, 5, 6]
remove_dups(L1,L2)
L1

[2, 3, 4]

In [43]:
def remove_dups(L1, L2):
    # Clone list 1st. L3 = L1 does not make clone
    L3 = L1[:]
    for e in L3:
        if e in L2:
            L1.remove(e)
L1 = [1, 2, 3, 4]
L2 = [1, 2, 5, 6]
remove_dups(L1,L2)
L1

[3, 4]